<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Dron_Course"
            android:exported="false" />
        <activity
            android:name=".Robotechnology"
            android:exported="false" />
        <activity
            android:name=".OneSB1"
            android:exported="false" />
        <activity
            android:name=".OneS_Course"
            android:exported="false" />
        <activity
            android:name=".OneCCourse"
            android:exported="false" />
        <activity
            android:name="._1CB1"
            android:exported="false" />
        <activity
            android:name=".UnityB1S4P2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S4P1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S3P1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmptyStage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S2P3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S2P2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S2P1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S1P3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S1P2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1S1P1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityB1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnityCourse"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Courses"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>